body * {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

section {
    width: 350px;
    margin: 10px;
    border: solid 1px grey;
    padding-bottom: 20px;
}

section img {
    width: 100%;
}

section p, section button, section h2 {
    margin-left: 20px;
    margin-right: 20px;
}

/*
Flex allows displaying content in rows & columns
Media queries define separate styles for 
different devices / screen sizes
*/

main {
    display: flex;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
    section {
        /* each card gets 50% of the container's width, 
        minus 20px spacing between cards
        */
        width: calc(50% - 20px);
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}